<h1 data-num='<%= @room.id %>'>Welcome to Room #<%= @room.id %></h1>

<form id="add-song">
  <input id="song-title-query" autofocus data-sid="" placeholder="I want to hear..." type="text">
</form>

<h2>Now Playing</h2>
<img src="http://placehold.it/275x275">

<h2>Playlist</h2>
<ul id="playlist">
</ul>


  <!-- Hardcoded the played songs list as placeholder in order to add the drawer functionality.  JES -->
  <h2 id="graveyard">Song Graveyard</h2>
    <ul id="already-played-songs">
      <li><img src="http://placehold.it/75x75">Whatever</li>
      <li><img src="http://placehold.it/75x75">Whatever</li>
      <li><img src="http://placehold.it/75x75">Whatever</li>
      <li><img src="http://placehold.it/75x75">Whatever</li>
      <li><img src="http://placehold.it/75x75">Whatever</li>
      <li><img src="http://placehold.it/75x75">Whatever</li>
    </ul>

