<h1 data-num='<%= @room.id %>'>Welcome to Room #<%= @room.id %></h1>

<ul id="playlist">
  <% @songs.each do |song| %>
    <li><%= song.spotify_url %></li>
  <% end %>
</ul>

<form id="add-song">
  WAT SONG NEXT: <input id="song-title-query" type="text">
</form>

