<div class="mobile-hide move-div">
    <button data-text-swap="Show Menu" data-text-original="Hide Menu" class="move" >Hide Menu</button>
</div>
<div class="slide-out-div">

    <h1 data-num='<%= @room.key %>'>Welcome to Room #<%= @room.key %></h1>
    <%= link_to "Bail", root_path %>

  <!--  <a href="#" class="tubular-volume-up">Volume Up</a> | <a href="#" class="tubular-volume-down">Volume Down</a> | -->

  <form id="add-song">
    <input id="song-title-query" autofocus data-sid="" placeholder="I want to hear..." type="text">
  </form>

  <div id="video-controls" class="black-65 mobile-hide">
    <a href="#" class="tubular-play">Play Video</a>
    <a href="#" class="tubular-pause">Pause Video</a> |
    <a href="#" class="tubular-mute">Turn Video Sound On</a> |
    <a href="#" id="skip-button">Skip!</a>
  </div>

  <ul id="playlist">
  </ul>
    <!-- Hardcoded the played songs list as placeholder in order to add the drawer functionality.  JES -->
    <h2 id="graveyard">Click To See Past Songs</h2>
      <ul id="already-played-songs"></ul>
  </div>



  <!--   hidden iframe to play music -->
  <iframe id="open" style="display: none;"></iframe>

  <% content_for :head do %>
    <script type="text/javascript">

    </script>
  <% end %>

